#main-content{
    width: 100%;
    height: 600px;
    background-color: #F8F9F9;
}
#header{
    width: 100%;
    height: 1px;   
    float:left;
    border: 2px solid grey;
    background-color:#3e3e00;
}
#nav{
    width: 100%;
    height: 80px;
    float:left;
    border: 2px solid grey;
    background-color: #3e3e00;
}

#sidebar{
    width: 15%;
    min-height: 1000px; 
    float:left;
    margin-right: .3%;
    border: 2px solid grey;
}
#content{
    width: 84.7%;
    height: 1000px;
    float:left;
    border: 2px solid grey;
}
#footer{
    width: 100%;
    height: 70px;  
    float:left;
    margin-top:4px;
    border: 2px solid grey;
}
.bg-info {
    background-color: #28a745!important;
}